<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app/app.component.css">
    <title></title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Home Town</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Raju Mutyala</td>
                <td>Software Engineer</td>
                <td>Nuziveedu</td>
            </tr>

            <tr>
                <td>Eshwar Alogolu</td>
                <td>Data Base</td>
                <td>Vijayawada</td>
            </tr>

            <tr>
                <td>Shaik Hassain</td>
                <td>Frontend Developer</td>
                <td>Rayapudi</td>
            </tr>

            <tr>
                <td>Sathis Narasaraopet</td>
                <td>Trainee</td>
                <td>Narasaraopet</td>
            </tr>

            <tr>
                <td>Venkata Reddy</td>
                <td>Cloud Computing </td>
                <td>Tadikonda</td>
            </tr>

        </tbody>
    </table>



</body>

</html>